@import '_vars';
@import 'modules/_navbar';
@import 'modules/_about';
@import 'modules/_landing';
@import 'modules/_content';
@import 'modules/_contact';
@import 'modules/_error';
@import 'modules/_lightbox';

body {
    color: $main-color;
    background-color: $body-bg;
    text-align: left;
}
main{
    // background: #F27165;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

h1, h2, h3, h4, h5 { font-family: 'Poppins', sans-serif; color: $heading-color; font-weight: bold; }
h1 {font-size: 54px;}
h2{font-size: 36px; margin-bottom: 20px;}
h3{color: $heading-color; font-size: 28px;}
h4{color: #2f2f2f; font-size: 24px;}
h5{color: #3f3f3f; font-size: 20px; margin-bottom: 20px;}
p {  font-family: 'Poppins', sans-serif;}
a {color: #f2f2f2; font-size: 20px; font-family: 'Poppins', sans-serif; text-decoration: none; margin: 10px;}

.hidden{
    display: none;
}


@media screen and (min-width: 768px) {
    main{
        text-align: left;
    }

    h2{font-size: 42px; text-align: center;}
    h4{font-size: 48px;}

}

@media screen and (min-width: 1200px) {
    h4{font-size: 52px;
        
    }
}

@import 'modules/_footer';
