<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>error: 404</title>
</head>


    <nav id="home">
      <img src="/images/logo_gvd.svg" alt="GVD Logo" id="logo">
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="nav-links">
        <li><a href="/">HOME</a></li>
        <li><a href="/#about">ABOUT</a></li>
        <li><a href="/#portfolioArea">PORTFOLIO</a></li>
        <li><a href="/#contact">CONTACT</a></li>
      </ul>
    </nav>

    
<body>
    <a id="backHome" href="/layout.hbs">Back Home</a>
<main class="error-section">
        {{{body}}}
</main>

    <footer>
    <div id="social">
        <a href="https://www.instagram.com/gvixpix/" target="_blank"><img src="/images/instagram.svg" alt="Instagram" class="socialIcon"></a>
        <a href="https://www.linkedin.com/in/grahamvickers/" target="_blank"><img src="/images/linkedin.svg" alt="LinkedIn" class="socialIcon"></a>
        <a href="https://github.com/grahamvickers" target="_blank"><img src="/images/github.svg" alt="Github" class="socialIcon"></a>
    </div>

    <div>
        <p>© 2019 Graham Vickers</p>
    </div>
    </footer>
</body>
</html>