nav {
  background-color: #3f3f3f;
  align-items: center; }
  nav a {
    text-decoration: none; }
  nav a:hover {
    color: #F2865E; }

#logo {
  height: 60px;
  float: left;
  margin: 20px 0 0 20px; }

* {
  margin: 0;
  padding: 0; }

nav {
  height: 11vh;
  background: #3f3f3f; }

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto; }

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px; }

.nav-links li a:hover {
  transition: 0.2s ease;
  color: #F27165; }

@media screen and (max-width: 768px) {
  #logo {
    height: 50px;
    float: left;
    margin: 20px 0 0 20px; }

  .line {
    width: 30px;
    height: 4px;
    background: #f2f2f2;
    margin: 5px;
    border-radius: 50px; }

  nav {
    position: relative;
    align-items: center; }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2; }

  .nav-links {
    position: fixed;
    background: #3f3f3f;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none; }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all; }

  .nav-links li {
    opacity: 0; }

  .nav-links li a {
    font-size: 25px; }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s; }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s; }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s; }

  li.fade {
    opacity: 1; } }
#about {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 80px;
  margin-top: 60px; }
  #about h2 {
    text-align: left; }

@media screen and (min-width: 980px) {
  #about {
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
    max-width: 1200px; }
    #about p {
      font-size: 18px; }
    #about h2 {
      text-align: left; } }
#landing {
  background-color: #F27165;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 40px; }
  #landing h2 {
    color: #f2f2f2;
    text-align: left; }
  #landing img {
    justify-content: flex-end;
    margin-top: 75px;
    height: 100px;
    margin-left: 20px; }

@media screen and (min-width: 350px) {
  #landing img {
    height: 125px;
    margin-top: 50px; } }
@media screen and (min-width: 400px) {
  #landing img {
    height: 300px;
    margin-top: 20px; } }
@media screen and (min-width: 500px) {
  #landing h2 {
    text-align: left;
    font-size: 46px;
    font-weight: bold; }
  #landing img {
    height: 400px; }
  #landing p {
    font-size: 20px; } }
@media screen and (min-width: 768px) {
  #landing {
    padding: 60px; }
    #landing h2 {
      font-size: 52px; }
    #landing p {
      font-size: 26px; }
    #landing img {
      height: 500px; } }
@media screen and (min-width: 960px) {
  #landing {
    padding: 80px; }
    #landing h2 {
      font-size: 90px; }
    #landing p {
      font-size: 32px;
      margin-top: 30px; }
    #landing img {
      height: 700px; } }
@media screen and (min-width: 1600px) {
  #landing {
    padding: 80px; }
    #landing h2 {
      font-size: 90px; }
    #landing h4 {
      font-size: 62px; }
    #landing p {
      font-size: 34px;
      margin-top: 30px; }
    #landing img {
      height: 700px; } }
#skills {
  margin-bottom: 60px; }

#skills img {
  height: 200px;
  width: 100%;
  margin: 10px; }

#skills h2 {
  text-align: left; }

.content {
  margin: 20px;
  text-align: left;
  margin-bottom: 0px; }

#portfolioArea {
  margin-bottom: 60px;
  text-align: center; }
  #portfolioArea h2 {
    text-align: center; }

.project {
  background-color: #3f3f3f;
  padding: 40px;
  height: 300px; }

.project:nth-child(even) {
  background-color: #F27165; }

.project img {
  height: 200px;
  width: 80%; }

#demoReel h3 {
  width: 95%;
  margin: 30px auto;
  text-align: center;
  font-size: 26px; }
#demoReel video {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 5px 8px 10px  grey; }

#portfolioArea {
  align-items: center; }

@media screen and (min-width: 768px) {
  #portfolio {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    text-align: center;
    width: 100%; }

  .project {
    width: auto;
    height: auto;
    margin: 4px;
    flex: 1;
    flex-basis: 20%;
    height: inherit; }

  .project:nth-child(even) {
    background-color: #F27165; }

  .project img {
    max-height: 180px;
    width: 80%; }

  #projectImg {
    height: 200px; }

  .content {
    text-align: left;
    margin: 0 auto;
    width: 80%; }
    .content img {
      justify-content: center; } }
@media screen and (min-width: 768px) {
  #skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

  .content {
    width: 25%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px; }
    .content img {
      width: 80%; } }
form {
  font-family: 'Poppins', sans-serif; }

#contactArea {
  text-align: center;
  margin-bottom: 80px; }

#contactHead {
  margin-bottom: 20px; }

html,
body {
  margin: 0;
  padding: 0; }

*:focus {
  outline: 0; }

.wrapper {
  margin: 100px auto 0;
  margin-top: 0px;
  width: 70%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }

form {
  width: 100%;
  margin: 0; }

form * {
  font-size: 20px;
  letter-spacing: 0.075em;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none; }

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px; }

form .field input[type="text"],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 5%;
  color: #3f3f3f;
  box-shadow: 2.5px 2.5px 10px grey; }

form #msg {
  height: 64px;
  resize: none;
  transition: all 333ms ease-in-out;
  padding-top: 20px; }

form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 166px; }

form input[type="submit"] {
  color: #F27165;
  border-radius: 25px;
  text-align: center;
  background-color: #3f3f3f;
  -webkit-appearance: none;
  border: none;
  position: relative;
  padding: 13px 50px;
  transition: all 0.3s ease-in-out; }

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  color: #3f3f3f;
  background: #F27165; }

@media screen and (max-width: 580px) {
  form * {
    font-size: 14px; } }
#errorContent {
  text-align: center; }
  #errorContent #errorImg {
    width: 50%;
    margin-bottom: 80px; }
  #errorContent h1 {
    font-size: 32px;
    margin-bottom: 40px; }

p > span {
  display: block;
  padding-bottom: 12px; }

#popover {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
  border-radius: 25px;
  padding: 10px 10px;
  background-color: #f2f2f2;
  border: 4px solid #F27165; }

.show-popover {
  display: block !important; }

#popover .close {
  float: right;
  padding: 3px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  font-size: 22px;
  color: red; }

#popover .close:hover {
  font-size: 24px; }

.see-more {
  margin-top: 30px;
  margin-right: 20%;
  margin-left: 20%;
  display: block;
  padding: 10px 5px;
  border-radius: 25px;
  color: #F27165;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  text-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s; }

.see-more:hover {
  cursor: pointer;
  background-color: transparent;
  color: #F2f2f2; }

.project-img {
  width: 320px; }

@media screen and (min-width: 400px) {
  .see-more {
    margin-right: 30%;
    margin-left: 30%; } }
@media screen and (min-width: 768px) {
  .see-more {
    margin-right: 20%;
    margin-left: 20%; }

  .project-img {
    width: 440px; } }
@media screen and (min-width: 1200px) {
  .see-more {
    margin-right: 32%;
    margin-left: 32%; }

  .project-img {
    width: 500px; } }
html, body {
  height: 100%;
  margin: 0; }

body {
  color: #3f3f3f;
  background-color: #f2f2f2;
  text-align: left; }

main {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; }

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  color: #F27165;
  font-weight: bold; }

h1 {
  font-size: 54px; }

h2 {
  font-size: 36px;
  margin-bottom: 20px; }

h3 {
  color: #F27165;
  font-size: 28px; }

h4 {
  color: #2f2f2f;
  font-size: 24px; }

h5 {
  color: #3f3f3f;
  font-size: 20px;
  margin-bottom: 20px; }

p {
  font-family: 'Poppins', sans-serif; }

a {
  color: #f2f2f2;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 10px; }

.hidden {
  display: none; }

@media screen and (min-width: 768px) {
  main {
    text-align: left; }

  h2 {
    font-size: 42px;
    text-align: center; }

  h4 {
    font-size: 48px; } }
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 52px; } }
footer {
  color: #f2f2f2;
  text-align: center;
  background-color: #3f3f3f;
  padding: 20px;
  align-items: center;
  font-size: 14px; }

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#social img {
  height: 50px;
  margin: 0 10px 0 10px; }

.socialIcon:hover {
  opacity: 0.5;
  transition: 0.2s ease; }

@media screen and (min-width: 786px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px; } }

/*# sourceMappingURL=main.css.map */
