#about{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
    margin-top: 60px;
    h2{text-align: left;}
}

@media screen and (min-width: 980px){
    #about{
        margin-right: 150px;
        margin-left: 150px;
        text-align: left;
        // max-width: 1200px;

        // p{
        //     font-size: 22px;
        // }

        h2{
            // font-size: 26px;
            text-align: left;
        }
        // h5{
        //     font-size: 26px;
        // }
    }
    
}