
* {
    box-sizing: border-box;
  }

  form{font-family: 'Poppins', sans-serif;}
  
  #contactArea{
      text-align: center;
  }

  #contactHead{
      margin-bottom: 20px;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  *:focus {
    outline: 0;
  }
  
  .wrapper {
    margin: 100px auto 0;
    margin-top: 0px;
    width: 70%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  form {
    width: 100%;
    margin: 0;
  }
  
  form * {
    font-size: 20px;
    letter-spacing: 0.075em;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }
  
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  
  
  form .field input[type="text"],
  form .field textarea {
    border: none;
    width: 100%;
    height: 64px;
    margin: 0;
    padding-left: 5%;
    color: #3f3f3f;
    box-shadow: 2.5px 2.5px 10px grey;
  }
  
  form #msg {
    height: 64px;
    resize: none;
    transition: all 333ms ease-in-out;
    padding-top: 18px;
  }
  form textarea:focus#msg,
  form textarea:not(:placeholder-shown)#msg {
    height: 166px;
  }

  form input[type="submit"] {
    color: #F27165;
    border-radius: 25px;
    text-align: center;
    background-color: #3f3f3f ;
    -webkit-appearance: none;
    border: none;
    position: relative;
    padding: 13px 50px;
    transition: all 0.3s ease-in-out;
  }
  form input[type="submit"]:hover,
  form input[type="submit"]:focus {
    color: #3f3f3f;

    background: #F27165;  
  }  