#skills{
    margin-bottom: 60px;
    
}

#skills img{
    height: 200px;
    width: 100%;
    margin: 10px;
}

#skills h2{
    text-align: left;
}

.content{
    margin: 20px;
    text-align: left;
    margin-bottom: 0px;
    
}

#portfolioArea{
    margin-bottom: 60px;
    text-align: center;

    h2{text-align: center;}
}

.project{
    background-color: #3f3f3f;
    padding: 40px;
    height: 30%;
}

.project:nth-child(2){
    background-color: #F27165;
    height: inherit;
    // padding-top: 30%;
    // padding-bottom: 30%;
}

.project img{
    height: 200px;
    width: 80%;
}

#demoReel{
    h3{
        width: 95%;
        margin: 30px auto;
        text-align: center;
        font-size: 26px;
    }

    video{
        width: 80%;
        margin: 0 auto;
        max-width: 800px;
        
        box-shadow: 5px 8px 10px  grey;
    }
}

#portfolioArea{
 align-items: center; 
}

@media screen and (min-width: 768px) {
    #portfolio{ 
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
    }

    .project{
        width: 33%;
        height: inherit;
    }

    .project:nth-child(2){
        background-color: #F27165;
        height: inherit;
    }

    #modernLink{
        margin-top: 20%;
    }


    .content{
        text-align: left;
        margin: 0 auto;
        img{justify-content: center;}
        width: 80%;
    }
}




@media screen and (min-width: 768px) {
    #skills{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .content{
        // height: 600px;
        width: 25%;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
        img{width: 80%}
    }
}