footer { color: $footer-text-color;
    text-align: center;
    background-color: #3f3f3f;
    padding: 20px;
    align-items: center;
    font-size: 14px;
    
}

#social{
    display: flex;
        flex-direction: row;
        justify-content: space-around;
}

#social img{
    height: 50px;
    margin: 0 10px 0 10px;
}

#social img:hover{
    transition: 0.2s ease;
}

@media screen and (min-width: 786px){
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
}