#landing{
    background-color: #F27165;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 40px;


    h2 {
        color: #f2f2f2;
        text-align: left;
    }

    img{
        justify-content: flex-end;
        height: 200px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 400px) {
    #landing{
        img{height: 300px; }
}
}

@media screen and (min-width: 500px) {
#landing{
    h2{text-align: left; font-size: 46px; font-weight: bold;}
    img{height: 400px; }
    p{font-size: 20px;}
}
}

@media screen and (min-width: 768px) {
#landing{
    padding: 60px;
    h2{font-size: 52px;}
    p{font-size: 26px;}
    img{height: 500px; }
}
}


@media screen and (min-width: 960px) {
    #landing {
        padding: 80px;
        h2{font-size: 90px;}
        p{font-size: 32px; margin-top: 30px;}
        img{height: 700px;}
    }
}

@media screen and (min-width: 1600px) {
    #landing {
        padding: 80px;
        h2{font-size: 90px;}
        h4{font-size: 62px;}
        p{font-size: 34px; margin-top: 30px;}
        img{height: 700px;}
    }
}

