#landing{
    background-color: #F27165;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 40px;

    h2 {
        color: white;
    }

    img{
        justify-content: flex-end;
    }
}
    img{height: 200px;}
@media screen and (min-width: 768px) {
#landing{
    padding: 60px;
    h2{text-align: left; font-size: 52px; font-weight: bold;}
    p{font-size: 24px;}
    img{height: 400px; margin-left: 20px; }
}


}

@media screen and (min-width: 960px) {
    #landing {
        padding: 80px;
        h2{font-size: 90px;}
        p{font-size: 36px; margin-top: 30px;}
        img{height: 700px;}
    }
}

