p > span { display: block; padding-bottom: 12px; } 

#popover { 
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
  width: 50%;
  z-index: 1;
  border-radius: 25px;
  padding: 10px 10px;
  background-color: #f2f2f2;
  border: 4px solid #F27165;
}

.show-popover { display: block !important   ; }

#popover .close {
  float:right;
  padding:3px;
  margin:5px 5px 0 0;
  cursor: pointer;
  font-size: 22px;
  color: red;
}

#popover .close:hover {
  font-size: 24px;

}

.see-more { 
  margin-top: 30px;
  margin-right: 20%;
  margin-left: 20%;
  display: block; 
  padding: 10px 5px; 
  border-radius: 25px; 
  color: #F27165; 
  border: 2px solid #f2f2f2; 
  background-color: #f2f2f2;
  text-align: center;
//   width: 120px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.see-more:hover{
  cursor: pointer;
  background-color: transparent;
  color: #F2f2f2;
}

@media screen and (min-width: 400px){
    .see-more{
        margin-right: 30%;
        margin-left: 30%; 
    }
}

@media screen and (min-width: 768px){
    .see-more{
        margin-right: 20%;
        margin-left: 20%; 
    }
}


@media screen and (min-width: 1200px){
    .see-more{
        margin-right: 32%;
        margin-left: 32%; 
    }
}