p > span { display: block; padding-bottom: 12px; } 

#popover { 
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 4px solid #F27165;
}

#popoverCon{
  padding: 20px;
  text-align: left;
  h4{
    color: #3f3f3f;
  }
  #line{
    background-color: #3f3f3f;
    height: 1px;
    width: 100%;
  }
  .project-title{
    font-size: 26px;
  }
  .project-bio{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .project-tools{
    color: #3f3d56;
    margin-bottom: 20px;
  }
  img{
    width: 300px;
    justify-content: center;
    -webkit-filter: drop-shadow(12px 12px 12px #3f3f3f);
    filter: drop-shadow(12px 12px 12px #3f3f3f);
  }
}

.show-popover { display: block !important   ; }

#popover .close {
  float:right;
  padding:3px;
  margin:0px 5px 0 0;
  cursor: pointer;
  font-size: 26px;
  color: #F27165;
}

#popover .close:hover {
  //font-size: 18px;
  cursor: pointer;
  color: #3f3f3f;
  transition: ease .3s;
}

.see-more { 
  margin-top: 30px;
  // margin-right: 20%;
  // margin-left: 20%;
  display: block; 
  padding: 16px 28px; 
  border-radius: 30px; 
  color: #F27165; 
  border: 2px solid #f2f2f2; 
  background-color: #f2f2f2;
  text-align: center;
//   width: 120px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.see-more:hover{
  cursor: pointer;
  background-color: transparent;
  color: #F2f2f2;
}

.project-img{
  width: 320px;
}
@media screen and (min-width: 400px){
    .see-more{
        margin-right: 25%;
        margin-left: 25%; 
    }
    
}

@media screen and (min-width: 768px){
    .see-more{
        margin-right: 5%;
        margin-left: 5%; 
    }
    .project-img{
      width: 440px;
    }

    #popoverCon{
      h4{
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .project-title{
        font-size: 52px;
        text-align: left;
      }
      .project-bio{
        font-size: 18px;
        margin-bottom: 20px;
      }
      .project-tools{
        font-size: 20px;
      }
      video{
        max-width: 800px;
        
        margin: 0 auto;
      }
    }
}


@media screen and (min-width: 1200px){
    .see-more{
        margin-right: 20%;
        margin-left: 20%; 
    }
    .project-img{
      width: 500px;
    }
}